.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-left: 1em;
}

.nav-link {
  margin: 10px;
  font-size: medium;
  font-weight: 400;
  padding: 5px;
  color: black;
  text-decoration: none;  
}

.nav-link:hover {
  color: crimson;
}

.nav-logo {
  float: left;
  font-size: large;
  font-weight: 500;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

hr {
  border: 1px solid black;
}
/* i{
    font-size: 1.4em;padding: 10px;margin: 5px;
} */
button:focus {
  outline: none;
}

#border {
  border-left: 2px solid black;
  height: 150px;
}

@media screen and (max-width: 600px) {
  .contactpage {
    margin-left: 5%;
  }
  #contact_us {
    font-size: 2em;
    margin-left: 25%;
  }
  #details_form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 17%;
  }
  input,
  textarea {
    padding: 6px;
    margin: 5px;
    border: 1px solid black;
    width: 200px;
  }
  button {
    width: 100px;
    margin: 3px;
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-left: 40%;
  }
  .copyright {
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
    bottom: 0;
    position: fixed;
    align-items: center;
    left: 0px;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  #details_form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 35%;
  }
  #contact_us {
    font-size: 2em;
    margin-left: 43%;
  }
  input,
  textarea {
    padding: 6px;
    margin: 5px;
    border: 1px solid black;
    width: 200px;
    width: 250px;
  }
  button {
    width: 100px;
    margin: 3px;
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-left: 40%;
  }
  .copyright {
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
    bottom: 0;
    position: absolute;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #details_form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 35%;
  }
  #contact_us {
    font-size: 2em;
    margin-left: 45%;
  }
  input,
  textarea {
    padding: 6px;
    margin: 5px;
    border: 1px solid black;
    width: 300px;
  }
  button {
    width: 100px;
    margin: 3px;
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-left: 45%;
  }
  .copyright {
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
    bottom: 0;
    position: absolute;
  }
}

@media screen and (min-width: 993px) {
  #details_form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 30%;
  }
  #contact_us {
    font-size: 2.7em;
    margin-left: 35%;
  }
  input,
  textarea {
    font-size: 1em;
    padding: 4px;
    margin: 5px;
    border: 1px solid black;
    width: 350px;
  }
  button {
    width: 100px;
    margin: 3px;
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-left: 35%;
  }
  .copyright {
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
    bottom: 0;
    position: fixed;
    align-items: center;
    left: 0px;
  }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 2rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-item {
      margin: 20px 0;
      padding: 10px;
    }
  
    .nav-link {
      font-size: large;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  